#pageheader
{
    width: 100%;
    height: 80%;
    background: url("../../../images/header.png"), #121212;
    background-size: cover;
    background-position: center;
}

.header-overlay
{
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.6);
}

h1, h2, h3, h4, h5, h6 
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    font-weight: 400 !important;
    font-size: larger;
}

p, a
{
    font-family: sans-serif !important;
    font-weight: 300 !important;
    font-size: larger;
}